{% extends 'base.html' %}
{% block title %}Posts{% endblock title %}
{% block content %} 
    <div class="container" style="margin:auto;">
        <div class="col s12 m10">
            <h3>{{post.title}}</h3>
            <p>( {{post.cat.title}} )</p>
            <img src="/media/{{post.image}}" class="responsive-img" alt="...">
            <br>
            <p>
                {{post.content | safe}}
            </p>
        </div>
        <div class="col s12 m2">
            {% for cat in cats  %}
                <div class="card item" style="margin-left: 10px;">
                    <div class="img-container">
                        <img src="/media/{{cat.image}}" class="responsive-img" style="height:200px;" alt="...">
                    </div>
                    <div class="card-content"> 
                        <div class="card-title">
                            {{cat.title}}
                        </div>
                        <p class="truncate">{{cat.description}}</p>
                        <div class="container center-align mt20">
                            <a href="" class="btn bg_header">View</a>
                        </div>
                    </div>
                    
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}